<!DOCTYPE html>
{% load static %}
<html>


<head>
<meta charset="utf-8">
<title>The Craft Spot | About Us</title>
<!-- Stylesheets -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="/static/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    
 	
  <!-- Main Header-->
  <header class="main-header">
    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Top Left-->
                
                
                <!--Top Right-->
                <div class="top-right pull-right">
                    

                    <!--social-icon-->
                    <div class="social-icon">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        
                    </div>
                    
                    <ul>
                        {% if request.session.logname %}
                        <li><span class="fa fa-envelope-o"><a href="/profile"></span>Welcome , {{ request.session.logname }}</li></a>
                        {% endif %}
                        
                    </ul>
                    
                    
                </div>
                
            </div>
            
        </div>
    </div><!-- Header Top End -->
    
    
    <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index-2.html"><img src="static/images/image.png" alt="" style="margin: 10px; width: 200px; height =200px;"></a></div>
                </div>
                
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="index-2.html">Home</a></li>
                                <li class="dropdown"><a href="/about">About Us</a>
                                </li>
                           
                                <li class="dropdown"><a href="/discover">Our Categories</a>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                                {% if request.session.logname %}
                                
                                <li><a href="/logout/">Logout</a></li>
                            {% else %}
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">Login</a></li>
                            {% endif %}
                                
                                
                                
                             </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div><!--Nav Outer End-->
                {% if request.session.logname %}
                <!-- Hidden Nav Toggler -->
                <div class="nav-toggler">
                <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                </div><!-- / Hidden Nav Toggler -->
                
                <!--Search Btn-->
                <a href="/shopping-cart" class="cart-btn-outer"><div class="icon"><span class="flaticon-shopping-cart">&nbsp; &nbsp;&nbsp; &nbsp;</span></div></a>
                <div class="header-search-icon search-box-btn"><span class="flaticon-search"></span></div>
            </div>
            <a href="/showorders" class="cart-btn-outer"><div class="icon"> <span class="flaticon-shopping-bag"></span></div></a>                {% endif %}
            </div>    
        </div>
    </div>

</header>
<!--End Main Header -->


<!-- Hidden Navigation Bar -->
<section class="hidden-bar right-align">
    
    <div class="hidden-bar-closer">
        <button class="btn"><i class="fa fa-close"></i></button>
    </div>
    
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
    
        <!-- .logo -->
        <div class="logo text-center">
            <a href="index-2.html"><img src="static/images/logo-2.png" alt=""></a>			
        </div><!-- /.logo -->
        
        <!-- .Side-menu -->
        <div class="side-menu">
        <!-- .navigation -->
            <ul class="navigation">
                <li class="current"><a href="index-2.html">Home</a></li>
                <li class="dropdown"><a href="/about">About Us</a>
                    
                </li>
                <li class="dropdown"><a href="/discover">Our Categories </a>
                   
                </li>
                <li><a href="/contact">Contact</a></li>
                
                {% if request.session.logname %}
                                
                                <li><a href="/logout/">Logout</a></li>
                            {% else %}
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">Login</a></li>
                            {% endif %}
                
               
            </ul>
        </div><!-- /.Side-menu -->
    
        <div class="social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                
            </ul>
        </div>
    
    </div><!-- / Hidden Bar Wrapper -->
</section>
<!-- / Hidden Bar -->

    <!-- / Hidden Bar -->
    
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg3.jpeg);">
        <div class="auto-container">
            <h1>Know About Us</h1>
        </div>
    </section>
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2>About Us</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="index-2.html">Pages</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </section>
    
    <!--About Us Section-->
    <section class="about-us-section">
    	<div class="auto-container">
        	<div class="row clearfix">
                
                <!--Text Column -->
            	<div class="column text-column col-md-6 col-sm-12 col-xs-12">
                	<h2>We Have The Right Products to Fit Your Needs and Budget <a href="#">Purchase - The Craft Spot.</a></h2>
                    <div class="inner-box">
                         <div class="text">Welcome to The Craft Spot, your go-to destination for unique and handcrafted products. We believe in blending creativity with craftsmanship to bring you high-quality, artistic creations that add charm to your life. Each product is made with love and attention to detail, ensuring it tells a story of passion and dedication. Our mission is to support handmade artistry and deliver one-of-a-kind pieces that inspire and delight. Join us on this journey of creativity and craftsmanship!</div>
                         
                         <div class="about-owner">
                         	
                            <div class="company-title">The Craft Spot.</div>
                         </div>
                    </div>
                </div>
                
                <!--Column-->
                <div class="column image-column col-md-6 col-sm-12 col-xs-12">
                	<article class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                		<figure class="">
                        	
                            <a href="static/images/resource/bg3.jpeg" class=""><div class="icon"><span class=""></span></div></a>
                        </figure>
                    </article>
                </div>
                
            </div>
            
            <!--Our Services-->
            <div class="our-services">
            	<div class="row clearfix">
                	<!--service-block-one-->
                	<div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                    	<div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-cursor"></span>
                            </div>
                            <h3>We are Professional</h3>
                            <div class="category">Artist</div>
                            <div class="text">"At The Craft Spot, we craft high-quality resin art with skill and creativity. Every piece reflects our passion for handmade excellence.</div>
                        </div>
                    </div>
                    <!--service-block-one-->
                    <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                    	<div class="inner-box wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-compass"></span>
                            </div>
                            <h3>We are Expert</h3>
                            <div class="category"><a href="#">Creative Team</a></div>
                            <div class="text">Our customers trust us for unique, handcrafted designs made with love. Quality and care are at the heart of everything we create.</div>
                        </div>
                    </div>
                    <!--service-block-one-->
                    <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                    	<div class="inner-box wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <!--icon-block-->
                            <div class="icon-box">
                                <span class="flaticon-correct"></span>
                            </div>
                            <h3>We are Trusted</h3>
                            <div class="category"><a href="#">Handmade Creations</a></div>
                            <div class="text">With expert craftsmanship, we create stunning art and craft. Each piece is thoughtfully made to add beauty to your life..</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    
    
    <!--best-service-two-->
    <section class="best-service-two" style="background-image:url(static/images/background/i2.jpg);">
    	<div class="auto-container">
        	
            <!--sec-title-->
            <div class="sec-title-four">
                <h2>Why We Are Best</h2>
            </div>
            
        	<div class="row clearfix">
            
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class=""></span></div>
                        <h3>Handmade with love!</h3>
                    </a>
                </div>
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class=""></span></div>
                        <h3>Eco-Friendly Approach </h3>
                    </a>
                </div>
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class=""></span></div>
                        <h3>Perfect For gifting </h3>
                    </a>
                </div>
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class="""></span></div>
                        <h3>Wide Range of Products </h3>
                    </a>
                </div>
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class=""></span></div>
                        <h3>Premium material </h3>
                    </a>
                </div>
                
                <!--service-block-two-->
                <div class="service-block-three col-md-4 col-sm-6 col-xs-12">
                	<!--inner-box-->
                	<a href="service-single.html" class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    	<div class="icon-box"><span class=""></span></div>
                        <h3>Durable And Long lasting </h3>
                    </a>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Team Section One-->
   
    
    
    
    
    <!--Sponsors Section-->
    
    <!--Newsletter Style One-->
    
    
    
     <!--Main Footer-->
    <footer class="main-footer" style="background-image:url(static/images/background/footer-bg.jpg);">
    	<div class="auto-container">
        
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                	<div class="footer-logo"><figure><a href="index-2.html"><img src="static/images/logo-4.png" alt=""></a></figure></div>
                                    <div class="widget-content">
                                    	<div class="text">Must explain too you all this mistaken idea off denouncing pleasure and well praising pain was born and I will gives you complete accounts systems must explain to idea of denouncing.</div>
                                        <ul class="contact-info">
                                        	<li><span class="icon fa fa-map-marker"></span>Rock St 12, Newyork City, USA</li>
                                            <li><span class="icon fa fa-phone"></span>(526) 236-895-4732</li>
                                            <li><span class="icon fa fa-envelope-o"></span>Decoratorssuport@gmail.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget tags-widget">
                                	<h2>Popular Tags</h2>
                                    <div class="widget-content">
                                    	<ul class="tags-list">
                                        	<li><a href="#">Designs</a></li>
                                            <li><a href="#">Tips</a></li>
                                            <li><a href="#">Interior</a></li>
                                            <li><a href="#">Doors</a></li>
                                            <li><a href="#">Curtains</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer-widget gallery-widget">
                                	<h2>Recent Works</h2>
                                    <div class="gallery-widget-carousel">
                                    	<div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-1.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-2.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-3.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-4.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-1.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-2.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-3.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-4.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-1.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-2.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-3.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                        <div class="item"><figure class="post-thumb"><img src="static/images/gallery/thumb-4.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget posts-widget">
                                	<h2>Recent News</h2>
                                    <div class="widget-content">
                                    	<div class="posts">
                                            <div class="post">
                                                <figure class="post-thumb"><img src="static/images/resource/post-thumb-1.jpg" alt=""><a href="#" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                                                <div class="desc-text"><a href="#">How mistakens denoncings pleasure and complete.</a></div>
                                                <div class="time"><span class="fa fa-clock-o"></span> Oct 03, 2015</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="static/images/resource/post-thumb-2.jpg" alt=""><a href="#" class="overlay-link"><span class="flaticon-plus-1"></span></a></figure>
                                                <div class="desc-text"><a href="#">Pleasure praising pains was, expound actual teaching.</a></div>
                                                <div class="time"><span class="fa fa-clock-o"></span> Aug 21, 2015</div>
                                            </div>
                                        </div>
                                        <a class="view-more theme-btn" href="#">Read More <span class="fa fa-caret-right"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget contact-widget">
                                	<h2>Send Us Message</h2>
                                    <div class="widget-content">
                                        <div class="newsletter-form">
                                            <form method="post" action="#">
                                                <div class="form-group">
                                                    <input type="text" name="name" value="" placeholder="Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Email *" required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="message" placeholder="Message *" required></textarea>
                                                </div>
                                                <button type="submit" class="theme-btn btn-style-two">Send us</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                 </div>
             </div>
        
        </div>
        
        <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="clearfix">
                	<div class="pull-left"><div class="copyright"><a href="https://www.templateshub.net" target="_blank">Templates Hub</a></div></div>
                    <div class="pull-right">
                    	<ul class="footer-nav">
                        	<li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    
</div>
<!--End pagewrapper-->


<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>
	<div class="popup-inner">
    
    	<div class="search-form">
        	<form method="post" action="#">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>
            </ul>
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>


</html>