<!DOCTYPE html>
{% load static %}
<html>


<head>
<meta charset="utf-8">
<title>Decorators - Design Studio HTML Template | Profile</title>
<!-- Stylesheets -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="static/css/nouislider.css" rel="stylesheet">
<link href="static/css/nouislider.pips.css" rel="stylesheet">
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="static/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="static/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="static/js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="row clearfix">

<!--                    &lt;!&ndash;Top Left&ndash;&gt;-->
<!--                    <div class="top-left pull-left">-->
<!--                    	<div class="dropdown lang-dropdown">-->
<!--                        	<button  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><img src="static/images/icons/flog.png" alt="" /> &nbsp; English <span class="fa fa-angle-down"></span></button>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li><a href="#">French</a></li>-->
<!--                                <li><a href="#">Espanish</a></li>-->
<!--                                <li><a href="#">Chinese</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    -->
                    <!--Top Right-->
                    <div class="top-right pull-right">

                    	<!--social-icon-->
                        <div class="social-icon">

                        </div>

                    	<ul>
                        <li></li>
                            {% if request.session.logname %}
                        	<li><span class="fa fa-user"></span><a href="/profile"> Welcome , {{ request.session.logname }}</a></li>
                            {% endif %}


                        </ul>


                    </div>

                </div>

            </div>
        </div><!-- Header Top End -->


        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index"><img src="static/images/logo.png" alt=""></a></div>

                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>

                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">

                                    <li class="current"><a href="/index">Home</a></li>
                                    <li><a href="/services">Category</a></li>
                                    <li><a href="/shop">All Products</a></li>
                                    {% if request.session.logname %}
                                    {% if request.session.logrole == '3' %}
                                    <li class="dropdown"><a href="#">Pages</a>
                                    	<ul>
                                            <li><a href="/addproduct">Add Product</a></li>
                                            <li><a href="/manageproduct">Manage Product</a></li>
                                            <li><a href="/manageorder">Manage Order</a></li>
                                        </ul>
                                    </li>

                                    {% endif %}
                                     <li><a href="contact">Contact</a></li>
                                     <li><a href="/feedback">Feedback</a></li>
                                     <li><a href="/complain">Complain</a></li>
                                     <li><a href="/logout">Logout</a></li>
                                    {% else %}
                                     <li><a href="/register">Register</a></li>
                                    <li><a href="/login">Login </a></li>
                                    {% endif %}

<!--                                    <li class="dropdown"><a href="#">Services</a>-->
<!--                                    	<ul>-->
<!--                                            <li><a href="services.html">Our Services</a></li>-->
<!--                                            <li><a href="service-single.html">Services Single</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    <li class="dropdown"><a href="#">Projects</a>-->
<!--                                    	<ul>-->
<!--                                            <li><a href="portfolio-default.html">Projects Standard</a></li>-->
<!--                                            <li><a href="portfolio-fullwidth.html">Projects Fullwidth</a></li>-->
<!--                                            <li><a href="portfolio-with-text.html">Projects With Text</a></li>-->
<!--                                            <li><a href="portfolio-single-one.html">Projects Single 01</a></li>-->
<!--                                            <li><a href="portfolio-single-two.html">Projects Single 02</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
                                    <!--<li class="dropdown"><a href="#">Blog</a>
                                    	<ul>
                                            <li><a href="blog.html">Blog Standard</a></li>
                                            <li><a href="blog-large-image.html">Blog Large Image</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>-->



<!--                                    <li class="dropdown"><a href="#">Pages</a>-->
<!--                                    	<ul>-->
<!--                                            <li><a href="about-us.html">About Us</a></li>-->
<!--                                            <li><a href="our-team.html">Our Team</a></li>-->
<!--                                            <li><a href="team-single.html">Team Single</a></li>-->
<!--                                            <li><a href="pricing.html">Pricing Table</a></li>-->
<!--                                            <li><a href="faqs.html">FAQ's</a></li>-->
<!--                                        </ul>-->
<!--                                    </li>-->
<!--                                    -->



                                 </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                    </div><!--Nav Outer End-->

                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                    <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->


                    <!--Search Btn-->
                    {% if request.session.logname %}
                    {% if request.session.logrole == '2' %}
                    <a href="/shopping-cart" class="cart-btn-outer"><div class="icon"><span class="flaticon-shopping-cart">&nbsp; &nbsp;&nbsp; &nbsp;</span></div></a>
                    <div class="header-search-icon search-box-btn"><span class="flaticon-search"></span></div>
                </div>
                <a href="/showorders" class="cart-btn-outer"><div class="icon"> <span class="flaticon-shopping-bag"></span></div></a>
                {% endif %}
                {% endif %}
            </div>
        </div>

    </header>
    <!--End Main Header -->
    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">

        <div class="hidden-bar-closer">
            <button class="btn"><i class="fa fa-close"></i></button>
        </div>

        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">

            <!-- .logo -->
            <div class="logo text-center">
                <a href="index"><img src="static/images/logo-2.png" alt=""></a>
            </div><!-- /.logo -->

            <!-- .Side-menu -->
            <div class="side-menu">
            <!-- .navigation -->
                <ul class="navigation">
                    <li class="current"><a href="/index">Home</a></li>
                                    <li><a href="/services">Category</a></li>
                                    <li><a href="/shop">All Products</a></li>
                                    {% if request.session.logname %}
                                    {% if request.session.logrole == '3' %}
                                    <li class="dropdown"><a href="#">Pages</a>
                                    	<ul>
                                            <li><a href="/addproduct">Add Product</a></li>
                                            <li><a href="/manageproduct">Manage Product</a></li>
                                            <li><a href="/manageorder">Manage Order</a></li>
                                        </ul>
                                    </li>

                                    {% endif %}
                                     <li><a href="contact">Contact</a></li>
                                     <li><a href="/feedback">Feedback</a></li>
                                     <li><a href="/complain">Complain</a></li>
                                     <li><a href="/logout">Logout</a></li>
                                    {% else %}
                                     <li><a href="/register">Register</a></li>
                                    <li><a href="/login">Login </a></li>
                                    {% endif %}
                    <!--<li class="dropdown"><a href="#">About Us</a>
                        <ul>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                        </ul>
                    </li>-->
<!--                    <li class="dropdown"><a href="#">Services</a>-->
<!--                        <ul class="submenu">-->
<!--                            <li><a href="services.html">Our Services</a></li>-->
<!--                            <li><a href="service-single.html">Services Single</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="dropdown"><a href="#">Projects</a>-->
<!--                        <ul class="submenu">-->
<!--                            <li><a href="portfolio-default.html">Projects Standard</a></li>-->
<!--                            <li><a href="portfolio-fullwidth.html">Projects Fullwidth</a></li>-->
<!--                            <li><a href="portfolio-with-text.html">Projects With Text</a></li>-->
<!--                            <li><a href="portfolio-single-one.html">Projects Single 01</a></li>-->
<!--                            <li><a href="portfolio-single-two.html">Projects Single 02</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <!--<li class="dropdown"><a href="#">Blog</a>
                        <ul class="submenu">
                            <li><a href="blog.html">Blog Standard</a></li>
                            <li><a href="blog-large-image.html">Blog large Image</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>-->

<!--                    <li class="dropdown"><a href="#">Shop</a>-->
<!--                        <ul class="submenu">-->
<!--                            <li><a href="shop">Shop Products</a></li>-->
<!--&lt;!&ndash;                            <li><a href="shop-single.html">Shop Single</a></li>&ndash;&gt;-->
<!--                            <li><a href="shopping-cart">Shopping Cart</a></li>-->
<!--                            <li><a href="checkout">Checkout</a></li>-->
<!--                            <li><a href="register">Register</a></li>-->
<!--                            <li><a href="login">Login</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    -->
<!--                    &lt;!&ndash;<li class="dropdown"><a href="#">Pages</a>-->
<!--                        <ul class="submenu">-->
<!--                            <li><a href="about-us.html">About Us</a></li>-->
<!--                            <li><a href="our-team.html">Our Team</a></li>-->
<!--                            <li><a href="team-single.html">Team Single</a></li>-->
<!--                            <li><a href="pricing.html">Pricing Table</a></li>-->
<!--                            <li><a href="faqs.html">FAQ's</a></li>-->
<!--                        </ul>-->
<!--                    </li>&ndash;&gt;-->
<!--                    -->
<!--                    <li><a href="contact">Contact</a></li>-->
                </ul>
            </div><!-- /.Side-menu -->

            <div class="social-icons">

            </div>
                <ul>
                        <li></li>
                            {% if request.session.logname %}
                        	<li><span class="fa fa-user"></span><a href="/profile"> Welcome , {{ request.session.logname }}</a></li>
                            {% endif %}


                </ul>
        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->


    <!--Page Title-->
    <section class="page-title" style="background-image:url(static/images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>  Register</h1>
        </div>
    </section>

    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container clearfix">
            <div class="pull-left"><h2> Register</h2></div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="/index">Home</a></li>
<!--                    <li><a href="shop">Shop</a></li>-->
                    <li>Register</li>
                </ul>
            </div>
        </div>
    </section>

    <!--Register Section-->
    <section class="register-section">
        <div class="auto-container">
            <div class="row clearfix">

<!--                &lt;!&ndash;Form Column&ndash;&gt;-->
<!--                <div class="form-column column col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
<!--                -->
<!--                    <div class="sec-title medium">-->
<!--                        <h2>Login Now</h2>-->
<!--                    </div>-->
<!--                    -->
<!--                    &lt;!&ndash;Login Form&ndash;&gt;-->
<!--                    <div class="styled-form login-form">-->
<!--                        <form method="post" action="#">-->
<!--                            <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-user"></span></span>-->
<!--                                <input type="text" name="username" value="" placeholder="Your Name *">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>-->
<!--                                <input type="email" name="useremil" value="" placeholder="Enter Mail id *">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>-->
<!--                                <input type="password" name="userpassword" value="" placeholder="Enter Password">-->
<!--                            </div>-->
<!--                            <div class="clearfix">-->
<!--                                <div class="form-group pull-left">-->
<!--                                    <button type="button" class="theme-btn btn-style-two">login</button>-->
<!--                                </div>-->
<!--                                <div class="form-group social-links-two pull-right">-->
<!--                                    Or login with <a href="#" class="img-circle facebook"><span class="fa fa-facebook-f"></span></a> <a href="#" class="img-circle twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="img-circle google-plus"><span class="fa fa-google-plus"></span></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            -->
<!--                            <div class="clearfix">-->
<!--                                <div class="pull-left">-->
<!--                                    <input type="checkbox" id="remember-me"><label for="remember-me">&nbsp; Remember Me</label>-->
<!--                                </div>-->
<!--                                <div class="pull-right">-->
<!--                                    <a href="#" class="forgot">Forgot Password?</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            -->
<!--                        </form>-->
<!--                    </div>-->
<!--                    -->
<!--                </div>-->
{% if messages %}
{% for i in messages %}
<script>alert("{{ i }}");</script>
{% endfor %}
{% endif %}
                <!--Form Column-->
                <div class="form-column column col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <div class="sec-title medium">
                        <h2>Edit Profile</h2>
                    </div>

                    <!--Register Form-->
                    <div class="styled-form register-form">
                        <form method="post" action="/updateprofile" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-user"></span></span>
                                <input type="text" name="username" value="{{data.U_NAME}}" placeholder="Your Full Name * " required>
                                <input type="hidden" name="loginid" value="{{data.id}}">
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="email" name="useremail" value="{{data.EMAIL_ID}}" placeholder="Enter Mail id *" required>
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="tel" name="userphone" value="{{data.PHONE_NO}}" placeholder="Enter Phone *" required>
                            </div>
<!--                            <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>-->
<!--                                <input type="password" name="userpassword" value="" placeholder="Enter Password" required>-->
<!--                            </div>-->
<!--                             <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-user"></span></span>-->
<!--                                <input type="date" name="userdob" value="" placeholder="Enter Your Date Of Birth *" required>-->
<!--                            </div>-->
                             <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-user"></span></span>
<!--                                <input type="text" name="useraddress" value="" placeholder="Your Address *">-->
                                 <textarea name="address"  cols="5" rows="3" placeholder="Your Address">{{data.U_ADDRESS}}</textarea>

<!--                                 <textarea name="address" aria-label="Address"  placeholder="Your Address *" >{{data.U_ADDRESS}}</textarea>-->
                            </div>
                            <div class="form-group">
                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                                <input type="text" name="usergender" value="{{data.U_GENDER}}" placeholder="Your Gender *">
<!--                                <select name="usergender" placeholder="Your Gender *" required>-->
<!--                                    <option value="Male">Male</option>-->
<!--                                    <option value="Female">Female</option>-->
<!--                                </select>-->
                            </div>
<!--                            <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>-->
<!--&lt;!&ndash;                                <input type="text" name="userrole" value="" placeholder="Your Role *">&ndash;&gt;-->
<!--                                <select name="userrole" placeholder="Your Role *">-->
<!--                                    <option value="active">User</option>-->
<!--                                    <option value="inactive">Admin</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>-->
<!--&lt;!&ndash;                                <input type="email" name="userstatus" value="" placeholder="Your Status*">&ndash;&gt;-->
<!--                                <select name="userstatus" placeholder="Your Status *">-->
<!--                                    <option value="active">Active</option>-->
<!--                                    <option value="inactive">Inactive</option>-->
<!--                                </select>-->
<!--                            </div>-->
                            <div class="clearfix">
                                <div class="form-group pull-left">
<!--                                    <button type="button" class="theme-btn btn-style-two">Register</button>-->
                                    <input type="submit" class="theme-btn btn-style-two" name="Submit" value="Register" />
                                </div>
                                <div class="form-group padd-top-10 pull-right">
<!--                                    * You must be a free  registered user to submit content.-->
                                   <a href="/login"> * Already Registered?</a>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </section>



     <!--Main Footer-->
   <footer class="main-footer" style="background-image:url(/static/images/background/footer-bg.jpg);">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Footer Column - About Us-->
                <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-widget about-widget">
                        <div class="footer-logo"><figure><a href="index"><img src="/static/images/logo-4.png" alt=""></a></figure></div>
                        <div class="widget-content">
<!--                            <div class="text">Must explain too you all this mistaken idea off denouncing pleasure and well praising pain was born and I will gives you complete accounts systems must explain to idea of denouncing.</div>-->
                            <div class="text">Home decor isn't about rejecting enjoyment and embracing discomfort. Our goal is to offer you helpful insights into the world of interior design. We provide a carefully chosen range of arts and decorations that prioritize both comfort and style. Allow us to assist you in transforming your living space into a personal sanctuary that enhances your daily life experiences.</div>
                            <ul class="contact-info">
                                <li><span class="icon fa fa-map-marker"></span>Ashram Road, 9, Vidya Vihar Colony Rd, opp. Fortune Landmark Hotel, Usmanpura, Ahmedabad, Gujarat 380013</li>
                                <li><span class="icon fa fa-phone"></span>079 2755 6140</li>
                                <li><span class="icon fa fa-envelope-o"></span>Decordelightsupport@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Footer Column - Popular Tags-->
                <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-widget tags-widget">
                        <h2>Popular Tags</h2>
                        <div class="widget-content">
                            <ul class="tags-list">
                                {% for i in catdata %}
                                    <li><a href="/productfilter/{{ i.id }}">{{ i.CAT_NAME }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Footer Column - Send Message Us-->
                {% if request.session.logname %}
                <div class="footer-column col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-widget tags-widget">
                        <h2>Get in Touch</h2>
                        <!--form-box-->
                        <div class="form-box default-form">
                            <div class="contact-form default-form">
                                <form action="/insertcontactdata" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="subject" value="" placeholder="Subject *" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="username" value="" placeholder="Your Name *" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" value="" placeholder="Your Mail *" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="phone" value="" placeholder="Phone Number">
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <textarea name="message" placeholder="Message *"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <input type="submit" class="theme-btn btn-style-two" name="Submit" value="SEND US" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{% endif %}
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-right">
                    <ul class="footer-nav">
                        <li><a href=/index>Home</a></li>
                        <li><a href="/services">Services</a></li>
                        {% if request.session.logname %}
                        <li><a href="/contact">Contact</a></li>

                        <li><a href="/feedback">Feedback</a></li>
 {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


</div>
<!--End pagewrapper-->


<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>
	<div class="popup-inner">

    	<div class="search-form">
        	<form method="post" action="#">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search" class="theme-btn">
                    </fieldset>
                </div>
            </form>

            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Wood Art</a></li>
                <li><a href="#">Wall Art</a></li>
                <li><a href="#">Resin Art</a></li>
                <li><a href="#">Lighting</a></li>
                <!--<li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>-->
            </ul>

        </div>

    </div>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="static/js/jquery.fancybox.pack.js"></script>
<script src="static/js/jquery.fancybox-media.js"></script>
<script src="static/js/nouislider.js"></script>
<script src="static/js/owl.js"></script>
<script src="static/js/wow.js"></script>
<script src="static/js/script.js"></script>
</body>


</html>